<html>
	<head>
		<title>برودكاست</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8">
		<link rel="icon" type="img/png"href="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-14-128.png">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="title">
					<div id="page-name">
						<a href =""><h1 id="tit">اضافة برودكاست</h1></a>
					</div>
					<div id="navview">
				</div>
			</div>
			<div id="navbar">
				<ul id="nav">
					<a href="/"><li class="nav"><label>الرئيسية</label></li></a>
					<a href="/about"><li class="nav" id="current-page"><label>عن الموقع</label></li></a>
					<a href="callus"><li class="nav"><label>اتصل بنا</label></li></a>
				</ul>
			</div>
			<div id="main-callus">
				<div id="add">
					<form action="add" method="post">
						<input type="text" id="add-username" name="name" placeholder="الاسم (اجباري)">
						<br/>
						<input type="text" id="add-userphone" name="phone" placeholder="الهاتف (غير اجباري)">
						<br/>
						<select id="add-cat-select" name="cate">
							<option value="" disabled selected style="display:none;">اختار قسم البرودكاست</option>
							<option value="اخبار">اخر الاخبار</option>
							<option value="اسلاميات">اسلاميات</option>
							<option value="اشعار">اشعار</option>
							<option value="نكت">نكت</option>
							<option value="حزن">حزن</option>
							<option value="صباح ومساء">برودكاست صباح ومساء</option>
							<option value="مناسبات">مناسبات</option>
							<option value="منوع">منوع</option>
						</select>
						<br/>
						<textarea id="add-mes" name="mes" placeholder="البروكاست"></textarea>
						<br/>
						<input id="send" type="submit" value="اضافة">
					</form>
				</div>
			</div>
			<footer>
				<a href=""><h3>تصميم وبرمجة البوسطة</h3></a>
			</footer>
		</div>
	</body>
	<script> 
	$(document).ready(function(){
	  $("#navview").click(function(){
	    $("#navbar").slideToggle("slow");
	  });
	});
	</script>
</html>