<html>
	<head>
		<title>برودكاست</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8">
		<link rel="icon" type="img/png"href="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-14-128.png">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="title">
					<div id="page-name">
						<a href =""><h1 id="tit">برودكاست صباح ومساء</h1></a>
					</div>
					<div id="navview">
					</div>
					<a href="/add" title="اضافة برودكاست"><div id="addbrd">
					</div></a>
				</div>
			</div>
			<div id="navbar">
				<ul id="nav">
					<a href="/"><li class="nav"><label>الرئيسية</label></li></a>
					<a href="/about"><li class="nav"><label>عن الموقع</label></li></a>
					<a href="callus"><li class="nav"><label>اتصل بنا</label></li></a>
				</ul>
			</div>
			<div id="main">
				<div id="cats">
					<% @nightmorning.each do |nm|%>
					<div class="cat">
						<p class="brd-details">
							<%= nm[:details]%>
						</p>
						<label class="brd-added">اضيف بواسطة : <span class="brd-name"><%= nm[:user_name]%></span> </label>
					</div>
					<% end %>
			</div>
			<footer>
				<a href=""><h3>تصميم وبرمجة البوسطة</h3></a>
			</footer>
		</div>
	</body>
	<script> 
	$(document).ready(function(){
	  $("#navview").click(function(){
	    $("#navbar").slideToggle("slow");
	  });
	});
	</script>
</html>